.edit-page {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    margin: auto;
}


.edit-title-cont {
    background-color: white;
    text-align: center;
    opacity: 0.7;
    border-radius: 60px;
    padding: 20px;
    width: 100%;
}

.edit-title {
    font-size: 40px;
    font-family: Helvetica , sans-serif;
    margin: 0; 
    color: maroon;
}
  
.edit-form {
    margin-top: 30px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    opacity: 0.7;
    border-radius: 5px;
    border: solid black 1px; 
    width: 100%;
    max-width: 800px;
    padding: 20px; 
}

.groups {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    margin-bottom: 15px; 
    }
  
  .edit-form label { 
    flex-basis: 20%;
    /* margin-right: 10px;  */
  }
  
  .edit-form input,
  .edit-form select,
  .edit-form textarea {
    flex-basis: 80%; 
    padding: 10px; 
    border: 1px solid; 
    border-radius: 4px
  }
  
  .edit-form textarea {
    height: 100px; 

  }

  .submit-button {
    align-self: flex-end;
    margin-top: 20px;
    border-radius: 5px; 
    cursor: pointer; 
    background-color: maroon;
    color: white;
  }